/* home common*/

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: bold;
}

a {
  color: #0bd;
}


/* header */

header {
  background: #f4c2a9a5;
  width: 100%;
  height: 40%;
  padding: 2vw 3vw 2vw;
  position: relative;
  box-sizing: border-box;
}

header .container p {
  font-size: 2vw;
}

.prof {
  width: 30%;
  height: 15vh;
  padding: 1vw;
  margin: 5vw;
  display: inline-block;
}

i {
  font-size: 3vw;
}

header .icon {
  width: 20vw;
  height: auto;
  margin-left: 10%;
}

header .container {
  width: 100%;
  height: 30%;
  margin: 4vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container div + div {
  margin-left: 10vw;
}

header h1 {
  font-size: 3vw;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

header ul li + li {
  margin-left: 8px;
}

header .icon {
  border-radius: 50%;
}

header #birth {
  font-size: 2vw;
}

.sp-menu #open {
  font-size: 5vw;
  line-height: 64px;
  cursor: pointer;
  position: absolute;
  top: 1vw;
  right: 4vw;
  bottom: 0;
}

.sp-menu #open.hide {
  display: none;
}

.container .desc {
  background: #fff;
  border-radius: 6px;
  text-align: left;
  padding: 6px 12px 12px;
}

/* main */

main {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

main .container {
  width: 74%;
  margin: 0 auto;
  padding-bottom: 40px;
}

main img {
  width: 100%;
  height: 50%;
}

main h1 {
  font-size: 4vw;
  text-align: center;
  padding: 60px 0;
}

main h2 {
  font-size: 3vw;
  margin-top: 16px;
}

main p {
  font-size: 3vw;
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 15vh;
}

/* animation */

.animate {
  opacity: 0;
  transition: opacity .3s, transform .3s;
}

.animate.slide-from-left {
  transform: translateX(-40px);
}

.animate.slide-from-right {
  transform: translateX(40px);
}

.animate.appear {
  opacity: 1;
  transform: none;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    width: 80vw;
    margin: 0 auto;
  }

  .pc-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu li {
    font-weight: bold;
  }

  .pc-menu a {
    display: block;
    text-decoration: none;
    width: 15vw;
    line-height: 10vh;
    text-align: center;
  }

  .pc-menu a:hover {
    background: #fff;
  }

  .sp-menu {
    display: none;
  }
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(248, 215, 201, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  z-index: 1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  font-size: 5vw;
  font-weight: bold;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay .bi-youtube {
  font-size: 5vw;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay a {
  text-decoration: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay.show li:nth-child(5) {
  transition-delay: .5s;
}

/* contact */

.contact h1 {
  text-align: center;
  padding: 4vh 0;
  border-bottom: 2px solid #aaa;
}

p {
  font-size: 2vw;
}

.mail {
  border: 4px solid #aaa;
  border-radius: 8px;
  background: rgb(241, 218, 136);
  margin: 64px auto;
  padding-bottom: 5vh;
  width: 45vw;
}

.mail h2 {
  font-size: 3vw;
  text-align: center;
  margin: 3vw;
}

.mail p {
  text-align: center;
  font-size: 3vw;
}

.animate {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s, transform 1s;
}

.animate.appear {
  opacity: 1;
  transform: none;
}

/* language */

.language h1 {
  text-align: center;
  padding: 24px 0;
  border-bottom: 2px solid #aaa;
}

.language.hide {
  display: none;
}

dl {
  margin: 0;
}

dl > div {
  margin-bottom: 8px;
}

.language div {
  margin: 42px 12px;
  font-size: 24px;
  font-weight: bold;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;

}

dt::after {
  content: '+';
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform .5s;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  padding: 8px;
  margin: 0;
  font-weight: normal;
  display: none;
}

dl > div.appear dd {
  display: block;
  animation: .5s fadeIn;
}

.p1 {
  transition-delay: .1s;
}

.p2 {
  transition-delay: .2s;
}

.p3 {
  transition-delay: .3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* works */

.works {
  width: 100%;
  margin: 0 auto;
}

.works h1 {
  width: 100%;
  text-align: center;
  padding: 3vw 0;
  border-bottom: 2px solid #aaa;
}

.works h2 {
  padding: 2vw;
  text-align: center;
  font-size: 5vw;
}

.works a {
  text-decoration: none;
}

.works p {
  font-size: 3vw;
  word-wrap: break-word
}

.works section {
  background: rgb(230, 179, 231);
  width: 45%;
  margin: 10vw auto;
  padding: 16px;
  border: 2px solid #aaa;
  border-radius: 8px;
}
